/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';
html, body { height: 100%; }
body { 
    background-color: #303030;
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
}

.container {
    padding: 30px 30px 30px 30px;
    background-color: #303030;
}

.disabled-pagination {
    .mat-paginator-range-actions {
        opacity: 0.5 !important;
        pointer-events: none !important;
    }
}