.chip-list {
    width: 100%;
}

.mat-input-element, .mat-icon {
    color: #fff;
}

.giphy-wrap {
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.giphy-img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.display-none {
    display: none;
}

.progress-container {
    width: 100%;
    height: 5px;
    background: transparent;
}

.progress-bar, .progress-bar-top, .progress-bar-bottom {
    height: 5px;
    background-color: #7b1fa2;
    width: 0%;
}
